src/generated/prisma


# Dependências
node_modules/

# Arquivos de Build/Compilação
dist/
build/

# Variáveis de Ambiente (MUITO IMPORTANTE NÃO SUBIR ISSO)
.env
.env.*

# Logs de erro do Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Ignorar o banco de dados local do Prisma (caso você use SQLite no futuro)
*.db
*.db-journal